<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Inverted Pendulum Modeling and Simulation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
</head>

<body>
<div class="top_dev">
    <canvas id="simulation_canvas" width="500" height="500"></canvas>
</div>
<div class="dashboard">
    <button id="run_button">Start Simulation</button>
</div>
<!--<div class="x_path">-->
<!--    <p id="x_array_length">Length</p>-->
<!--</div>-->
<!--<div class="x_path">-->
<!--    <p id="x_array_val"></p>-->
<!--</div>-->

<script src="static/js/script.js"></script>
</body>
</html>